@tailwind base;
@tailwind components;
@tailwind utilities;
/* Loading.css */

/* Animation for each letter */
.letter-animation {
    display: inline-block;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInUp 0.5s forwards;
  }
  
  /* Define the animation for each letter */
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  